<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Upload File to GitHub</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

  </head>
  <body>
    <h1>Upload File to GitHub</h1>
       <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="api_token">GitHub API Token:</label><br>
      <input type="text" id="api_token" name="api_token" required><br><br>
      
      <label for="username">GitHub Username:</label><br>
      <input type="text" id="username" name="username" required><br><br>
      
      <label for="reponame">GitHub Repository Name:</label><br>
      <input type="text" id="reponame" name="reponame" required><br><br>
      
      <label for="file">Select file to upload:</label><br>
      <input type="file" id="file" name="file" required><br><br>
      
      <label for="filepath">Enter file path (optional):</label><br>
      <input type="text" id="filepath" name="filepath"><br><br>
      
      <label for="folder">Folder Name (optional):</label><br>
      <input type="text" name="folder" id="folder"><br><br>
      
      <input type="submit" value="Upload">
    </form>
    </form>
  </body>
</html>
